* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 200px, #fff 200px, #fff 100%);
}

.outer-container {
    width: 65%;
}

.header {
    padding: 0 20px 20px 0px;
    display: flex;
    align-items: center;
}

.header i {
    font-size: 35px;
    color: rgb(236, 244, 237);
    padding-right: 10px;
}

.header a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.inner-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: calc(90vh - 40px);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 50px;
}


.context{
    padding: 50px;
}
.context h2{
    font-size: larger;
    font-weight: 50;
    padding-bottom: 30px;
}
.context ol{
    padding-left: 30px;  
}
.context li{
    padding-bottom: 20px;
}
.wrapper{
    background: #fff;
    width: 450px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* signup */
.form{
    flex-direction: column;
    padding: 25px 30px;
    width: 350px;
}
.signup,.forgot-password,.message{
    display: none;
}
.form header{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.form form{
    margin: 5px 0;
}
.form form .error-txt,.signup-error,.signin-error{
    color: #e30b20;
    background: #efc8cb;
    padding:8px 10px;
    text-align: center;
    border-radius: 5px;
    display: none;
    margin-bottom: 4px;
}
.form form .name-details{
    display: flex ;
}
form .name-details .field:first-child{
    margin-right: 5px;
}
form .name-details .field:last-child{
    margin-left: 5px;
}
.form form .field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-bottom: 4px;
}
.form form .input-field{
    width: 285px;
}
.form form .field label{
    margin-bottom: 2px;
}
.form form .input input{
    height: 30px;
    /* width: 285px; */
    /* width: 80%; */
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form form .image input{
     font-size: 17px;
}
.form form .button input{
    margin-top: 10px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    background: #009688;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.form .link{
    text-align: center;
    margin: 2px 0;
    font-size: 17px;
    cursor: pointer;
}
.form .forgot{
    text-align: end;
    padding: 5px;
    color: #009688;
    text-decoration: none;
    cursor: pointer;cursor: pointer;
}
.form .link a{
    color: #009688;
    text-decoration: none;
}
.form .link a:hover{
    text-decoration: underline;
}
.form .forgot:hover{
    text-decoration: underline;
}
sup{
    color: red;
    font-size: 20px;
}